a:hover {
	text-decoration: none;
}

h1 {
	text-align: center;
}

/*main page*/

.pokedex-main {
	margin-top: 5em;
	color: white;
}

.pokeblock {
	list-style: none;
	max-height: 30em; 
	text-align: center;
}

.pokemon-container {
	position:relative;
}
.code {
	width: 200px;
	position: absolute;
	right: 0;
	top:0;
	margin:10px;
}
.pokemon-input {
	width: calc(100% - 300px);
}
/*pokedex entry page*/