@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);

$base-font-color: #fff;
$main-color: #AF0B0B;
$base-border-color: darken($main-color, 10%);
$background-color: #222;
$action-color: $main-color;
$stats-color: lighten($main-color, 10%);
$hp-stat-color: $main-color;
$atk-stat-color: darken(desaturate(#F08030, 10%), 15%);
$def-stat-color: darken(desaturate(#F8D030, 10%), 15%);
$satk-stat-color: darken(desaturate(#6890F0, 10%), 15%);
$sdef-stat-color: darken(desaturate(#78C850, 10%), 15%);
$spd-stat-color: darken(desaturate(#F85888, 10%), 15%);



$oswald: 'Oswald', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;


$large-screen: em(860) !default;

$base-spacing: 1.5em;
$base-border-radius: 3px;

@mixin stat-colors {
  .stat-hp {
    border-color: darken($hp-stat-color, 20%);
    background-color: $hp-stat-color;
  }
  .stat-atk {
    border-color: darken($atk-stat-color, 20%);
    background-color: $atk-stat-color;
  }
  .stat-def {
    border-color: darken($def-stat-color, 20%);
    background-color: $def-stat-color;
  }
  .stat-satk {
    border-color: darken($satk-stat-color, 20%);
    background-color: $satk-stat-color;
  }
  .stat-sdef {
    border-color: darken($sdef-stat-color, 20%);
    background-color: $sdef-stat-color;
  }
  .stat-spd {
    border-color: darken($spd-stat-color, 20%);
    background-color: $spd-stat-color;
  }
}


ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
select:required {
  color: #B8E0DE;
}

.pagination {
  text-align: center;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;

  ul {
    display: inline;
    margin: auto;
    padding: 0;
    text-align: center;
    
    li {
      display: inline;
      list-style: none;
    }

    ul li {
      display: none;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      @include transition (all 0.2s ease-in-out);
      background: lighten($base-border-color, 10);
      border-radius: $base-border-radius;
      border: 1px solid $base-border-color;
      color: transparentize($base-font-color, 0.3);
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;

      &:hover,
      &:focus,
      &.active-true {
        background: lighten($base-border-color, 15);
        color: $base-font-color;
      }

      &:active {
        background: lighten($base-border-color, 10);
      }
    }
  }
}

.stats {
  padding: $base-spacing / 2;

  ul {
    padding: 0;
    @include display(flex);
    @include justify-content(center);
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}
