@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);

$base-font-color: #fff;
$main-color: #AF0B0B;
$base-border-color: darken($main-color, 10%);
$background-color: #222;
$base-background-color: $background-color;
$action-color: $main-color;
$stats-color: lighten($main-color, 10%);

$base-line-height: 1.5em !default;
$base-spacing: 1.5em;
$base-border-radius: 3px;



$oswald: 'Oswald', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;


$large-screen: em(860) !default;
$medium-screen: em(640) !default;
