	{% extends 'dexlayout.html' %}
	{% block title %}Pokedex{% endblock %}

	{% block pokeblock1 %}

			<h2 id="name">{{name}}</h2>

			<h3 id="dexNumbers"> National #{{national_id}}</h3>
			<h3 id="navLinks"><a href="/dex/{{prev}}">Previous</a><a href="/dex/{{next}}">Next</a></h3>
			<img src = "/img/port/{{identifier}}.png" id="portrait">
			<p id= "description"> {{description}} </p>
			<h3>Ablities</h3>
			<ul>
				{% for ability in abilities %}
					{% if ability !== undefined %}
						<li><strong>{{ability.name|capitalize}}</strong></li>
					{% endif %}
				{% endfor %}
			</ul>
			<h3>Types</h3>
			<ul>
				{% for type in types %}
					<li>{{type.name|capitalize}}</li>
				{% endfor %} 
			</ul>
			<h3>Egg Groups</h3>
			<ul>
				{% for eggGroup in egg_groups %}
					<li>{{eggGroup.name}}</li>
				{% endfor %}
			</ul>
			<h3>Evolutions</h3>
			<ul>
				{% for evolution in evolutions %}
					<li>Evolves to {{evolution.to}} {% if evolution.method === 'level_up' %} at level {{evolution.level}}{% endif %} </li>
				{% endfor %} 
			</ul>

	{% endblock %}

	{% block pokeblock2 %}
		<h3>Moveset</h3>
		<ul id="moveset">
		{% for move in moves %}
			{% if move.learn_type === "level up" %}
			<li><span class='moveLevel'>{{move.level}}</span>{{move.name}}</li>
			{% endif %}
		{% endfor %}
		{# {% for move in movesByLevel %}
				<li><span class='moveLevel'>Lv. {{loop.key}}</span>{{move}}</li>
		{% endfor %} #}
		</ul>
		
	{% endblock %}


  {% block scripts %}

  {% endblock %}