<section id="title" class="well">
	<a ng-href= "#/dex/{{prior}}"> <button type="button" class="btn" id="prior"> 
	<p> Previous Entry </p>
</button> 
<a ng-href= "#/dex/{{next}}">  <button type="button" class="btn" id="next">
	<p> Next Entry </p>
</button> </a> </a> <h1>#{{pokemon.national_id}} {{pokemon.name}}</h1> 
</section>

<div class="on-screen container">
	<section class="text-center basic-info">
		<p> <img class="center-block" ng-src = "{{pokeSprite}}"> <h4> {{pokemon.species}} </h4> </br> <em>{{pokeDes}} </em> </p>
	</section>
	<div class="row1">
		<section>
			<b>Height: </b> {{pokemon.height}} meters </br>
			<b>Weight: </b> {{pokemon.weight}} grams
		</section>
		<section id="poke-type" ng-repeat="type in pokemon.types">
				<b> Type: </b> {{type.name}}
		</section>
	</div>
	<div class="row2">
		<section id="evolution" ng-repeat="evolution in pokemon.evolutions">
				<b> Evolves Into: </b> {{evolution.to}}  </br> <b> Evolution Method: {{evolution.method}} {{evolution.level}} </b>

		</section>
		<section id="egg-groups" ng-repeat="group in pokemon.egg_groups">
				<b> Egg Group: </b> {{group.name}} 
		</section>
	</div>
  	</div>

<div class = "moves-abilities">
<section id="abilities" class="col-lg-4 col-md-6">
	<h3 id="abilities_header">Abilities</h3>
	<ul class="list-group" id="ability-list">
		<li ng-repeat="ability in pokemon.abilities" class="list-group-item" ng-click="getData(ability.resource_uri)">{{ability.name}}</li>
	</ul>
</section>

</div>
<section id="moves" class="col-lg-4 col-md-6">
	<h3 id="moves-header">Moves</h3>
	<ul class="list-group" id="moves-list">
		<li ng-repeat="move in pokemon.moves" class="list-group-item" ng-click="getData(move.resource_uri)">{{move.name}} <span class="pull-right"> {{move.learn_type}} {{move.level}}</span></li>
	</ul>
</section>
</div>