<section id="title" class="well">
	<h1>#{{pokemon.national_id}} {{pokemon.name}}</h1>
	<h4>{{pokemon.species}}</h4>
</section>

<section id="image">
	<p> <img ng-src = "{{pokeSprite}}"> </p>
</section>

<section id="basic-info">
	Height: {{pokemon.height}} meters
	Weight: {{pokemon.weight}} grams
	
</section>

<section id="poke-type">
	<h3> Type </h3>
	<ul ng-repeat="type in pokemon.types">
		<li> Type: {{type.name}} </li>
	</ul>
</section>

<section id="evolution">
	<h3>Evolution</h3>
	<ul ng-repeat="evolution in pokemon.evolutions">
		<li> Evolution: {{evolution.to}} </li> <li> Method: {{evolution.method}} {{evolution.level}} </li> 
	</ul>
</section>


<section id="egg-groups">
	<h3>Egg Group</h3>
	<ul ng-repeat="group in pokemon.egg_groups">
		<li> Group: {{group.name}} </li>
	</ul>
</section>

<section id="abilities" class="col-lg-4 col-md-6">
	<h3>Abilities</h3>
	<ul class="list-group">
		<li ng-repeat="ability in pokemon.abilities" class="list-group-item" ng-click="getData(ability.resource_uri)">{{ability.name}}</li>
	</ul>
</section>

<section id="moves" class="col-lg-4 col-md-6">
	<h3>Moves</h3>
	<ul class="list-group">
		<li ng-repeat="move in pokemon.moves" class="list-group-item" ng-click="getData(move.resource_uri)">{{move.name}} <span class="pull-right"> {{move.learn_type}} {{move.level}}</span></li>
	</ul>
</section>