:root {
	font-family: 'Ubuntu', sans-serif;
}

.spacer {
	height:120px;
}
#pokedex img {
	height:120px;
	width:120px;
}
#pokedex a {
	display:block;
	height:100%;
	width:100%;
}
#pokedex li.dex-entry {
	list-style: none;
	border-radius:5px;
	background-color:rgb(87, 205, 169);
	margin:20px;
	display:block;
	height:150px;
	width:120px;
	padding:10px;
	float:left;

}

html, section {
	width:100%;
	height:100%;
}
body {
  background-color: rgb(107, 225, 189); 
  height:100%;
}

header {
	background: url('http://git.lawlietblack.com/pokedex/img/header.png') center;
	height: 120px;
	margin-bottom:-120px;
}
#name, #dexNumbers, #navLinks {
	text-align: center;
}
#navLinks a, #navLinks a:visited {
	background-color: red;
	border:2px solid black;
	border-radius: 5px;
	display:inline-block;
	width:100px;
	padding:5px;
	margin:10px;
	color:white;
}
h2, h3 {
	margin: 0;
	padding:0;

}

footer {
	background: url('http://git.lawlietblack.com/pokedex/img/footer.png') center;
	clear: both;
	position: relative;
 	z-index: 10;
	height: 120px;
	margin-top:-120px;
}

a {
 text-decoration: none;
}

#description {
	font-style: italic;
	width:254px;
	margin: 15px auto;
	max-width:90%;
}

#portrait {	
	background: radial-gradient(white, #666);
	display:block;
	border: 2px solid black;
	border-radius: 15px;
	margin: 15px auto;
	height: 254px;
	width:254px;
	padding:10px;
}

.pokeblock {
	width:90%;
	margin:20px 4%;
	border-radius:5px;
	background-color:rgb(87, 205, 169);
	padding:10px;
	float:left;
}
.pokeblock:first-child {
	margin-top:140px;
}
#moveset{
	padding:0;
}
#moveset li {
	list-style: none;
}
#moveset span.moveLevel {
	display:inline-block;
	background:red;
	color:white;
	font-weight:bold;
	width:50px;
	text-align: center;
	padding:2px;
	margin:2px 8px;
	border-radius: 5px;
	border:1px solid black;
}

@media screen and (min-width:700px) {
	.pokeblock {
		width:42%;
		margin:140px 2% 20px;
	}
}
@media screen and (min-width:1400px) {

}